 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
body{
    position: relative;
    
}
html, body {
  overflow-x: hidden;
}

.row-content-space-between{
  display: flex !important;
  justify-content: space-between;
}




.margin-above{
  margin-top: 2rem !important;
}

.margin-req{
  margin-top: 5rem !important;
}
.fullscreen-btn{
  font-size: 1.5rem;
  color: #000;
}

.fullscreen-btn:hover{
  color: #093FB4;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.btn-primary{
  color:black !important;
  background-color: #F47340 !important;
  border-color: #F47340  !important;
}

.btn-primary:hover{
  color:white !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}


.subtitle-msg{
  color: grey;
  margin: 2rem 0;
}

.form-text{
  color: white !important;
}

.meaning{
  padding: 1rem 0 0 0;
  margin: 0;
}

.req-msg-change{
  opacity: 1;
}

.cancel-meaning-icon{
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
}

.list-group{
  max-height: 12rem;
  overflow-y: auto;
  border: transparent;
  margin-top: 1rem;
  cursor:pointer;
  
}

.list-group-item{
  margin: 0.25rem 0;
  border: 1px grey #393939 !important;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.list-group-item:hover{
  background-color: #000000 !important;
  color: white !important;
}

.row-content{
  justify-content: center;
}

.activelink{
  background-color: black !important;
  color: white !important;
  
}

.link-btn{
  position: fixed;
  right: 0.5rem;
  top: 0.85rem;
  font-size: 2rem;
  color: #1B1A17;
  cursor: pointer;
  z-index: 1031;
}

.play-btn{
  color: #fff !important;
  background-color: #3D3C42 !important;
  border-color: transparent !important;
}




.play-btn:hover{
  background-color: #1B56FD !important;
  border-color: transparent !important;
}


.margin-above-below{
  margin: 4.65rem 0 0.75rem 0 !important;
}

.upload-style{
  word-wrap: break-word;
  color: #fff;
  text-align: center;
}

.container-class{
  position:relative;
  text-align: center;
  padding: 2rem 2rem 1rem 2rem;
  margin-top: 4rem;
  background-color: #093FB4;
  color: #fff;
}

.main-box{
  position: relative;
}

.name-contact{
  margin: 1.5rem 0;
}

.disclaimer{
  padding: 0rem 1.5rem;
}

.no-margin-bottom{
  margin-bottom: 0rem;
}

.brand-icon{
  margin: 0rem 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}

.brand-icon:hover{
  color: #E2703A;
}

.form-control{
  display: inline-block !important;
}

.no-padding{
  padding: 0 !important;
}

.fullscreen-height{
  object-fit: contain;
  height: 100%;
  width: 100%;
  position:relative;
  z-index:0;
}

.video-box{
  object-fit: contain;
  height: 25rem;
  width: 100%;
  position:relative;
  z-index:0;
}

::cue{
  color:transparent;
  background-color: transparent;
}

.overlay {
    left: 50%;
    font-size: 2vw;
    transform: translate(-50%, 0);
    position:absolute;
    color: white;
    bottom:2.2rem;
    z-index:1000;
    text-align: center;
}

.subtitle-box{
  position: relative;
  width: 100%;
  height: 16rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow-y: auto;
}

.container{
  margin-left: 0 !important;
}

.heading{
  font-family: 'Inter', sans-serif;
  padding: 0 !important;
  background-color: #093FB4;
}

.navbar-brand{
  font-size: 2rem !important;
}

@media only screen and (max-width: 600px) {
  .offcanvas{
    width: 70% !important;
  }

  .video-box{
    height: 12rem;
  }

  .name-contact{
    font-size: 0.75rem;
  }

  .disclaimer{
    font-size: 0.75rem;
  }
  .padding-bottom{
    padding-bottom: 0.5rem;
  }
  .subtitle-box{
    height: 18rem;
  }
  .play-btn{
    width: 100%;
  }
}

